{% extends "TiendaGenesisApp/base.html" %}

{% block content %}

<section class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-5">

            <div class="card border-0 shadow-lg rounded-5 overflow-hidden">

                <div class="bg-success text-white text-center p-5">

                    <h1 class="fw-bold">
                        🔒 Nueva contraseña
                    </h1>

                    <p class="opacity-75 mb-0">
                        Crea una contraseña segura.
                    </p>

                </div>

                <div class="card-body p-5">

                    <form method="post">

                        {% csrf_token %}

                        <div class="mb-4">

                            <label class="form-label fw-bold">
                                Nueva contraseña
                            </label>

                            {{ form.password1 }}

                        </div>

                        <div class="mb-4">

                            <label class="form-label fw-bold">
                                Confirmar contraseña
                            </label>

                            {{ form.password2 }}

                        </div>

                        <button class="btn btn-success w-100 py-3 rounded-4 fw-bold">

                            Cambiar contraseña

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}