{% extends "TiendaGenesisApp/base.html" %}
{% load precios %}

{% block content %}

<section class="checkout-section">

    <div class="checkout-container">

        <div class="checkout-left">

            <span class="checkout-badge">
                Finalizar compra
            </span>

            <h1>
                Información de entrega
            </h1>

            <p>
                Completa tus datos para confirmar el pedido.
            </p>

            <form method="post">

                {% csrf_token %}

                <div class="checkout-form">

                    {{ form.as_p }}

                </div>

                <button type="submit"
                        class="checkout-button">

                    Confirmar pedido

                </button>

            </form>

        </div>

        <div class="checkout-right">

            <h2>
                Resumen del pedido
            </h2>

            <div class="checkout-products">

                {% for item in productos %}

                    <div class="checkout-item">

                        <div class="d-flex gap-3 align-items-center">

                            {% if item.producto.imagen %}

                                <img src="{{ item.producto.imagen.url }}"
                                     style="width:70px;
                                            height:70px;
                                            object-fit:cover;
                                            border-radius:14px;">

                            {% endif %}

                            <div>

                                <strong>
                                    {{ item.producto.nombre }}
                                </strong>

                                <p class="mb-1">

                                    Cantidad:
                                    {{ item.cantidad }}

                                </p>

                                <small class="text-success fw-bold">

                                    {{ item.subtotal|precio_colombiano }}

                                </small>

                            </div>

                        </div>

                    </div>

                    <hr>

                {% empty %}

                    <p>
                        No hay productos en el carrito.
                    </p>

                {% endfor %}

            </div>

            <div class="checkout-total">

                <strong>
                    Total
                </strong>

                <strong>

                    {{ total|precio_colombiano }}

                </strong>

            </div>

        </div>

    </div>

</section>

{% endblock %}