{% extends "TiendaGenesisApp/base.html" %}

{% block content %}

<section class="success-page">

    <div class="success-card">

        <div class="success-icon">
            ✔
        </div>

        <h1>
            Pedido confirmado
        </h1>

        <p>
            Tu pedido fue recibido correctamente.
        </p>

        <p>
            Número de pedido:
            <strong>#{{ pedido.id }}</strong>
        </p>

        <a href="/"
           class="success-button">

            Volver al inicio

        </a>

    </div>

</section>

{% endblock %}